*, *:before, *:after {
    box-sizing: border-box;
}

.accordion {
    display:block;
    position: relative;
    width: 100%;
    margin: 10px auto;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

.accordion > ul {
    display: block;
    list-style: none;
    padding :0;
    margin: 0;
}

.accordion > ul > li {
    display: block;
    position: relative;
    margin-bottom: -1px;
    overflow: hidden;
    color: #486992;
    background: #fafafa;
    border: 1px solid #D1D1D1;
}

.accordion > ul > li:first-child {
    border-radius: 0.3em 0.3em 0 0;
}

.accordion > ul > li:last-child {
    border-radius: 0 0 0.3em 0.3em;
}

.acc-handle {
    display:block;
    position: relative;
    padding: 1.5em;
    color: #486992;
    background: #f1f1f1;
    text-decoration: none;
    z-index: 3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.8);
    transition: all .25s ease;
}

.acc-handle:hover {
    color: #2F71C4;
    background: #fafafa;
}

.acc-handle:before, .acc-handle:after {
    content: '';
    position: absolute;
    transition: all .3s ease;
}

.acc-panel {
    padding: 0;
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    margin-top: -100%;
    z-index: 1;
    transition: all 1.2s ease;
}

.acc-handle:focus {
    outline: none;
    background: #e7e7e7;
}

.acc-handle:focus:after{
    height: 0;
    border: 0;
    margin-top: 0;
    opacity: 0;
}

.acc-handle:focus + .acc-panel {
    margin-top: 0;
    border-top: 1px solid #d1d1d1;
    transition: all 0.2s ease-in-out;
}

.acc-panel * {
    opacity: 0;
    transition: all 0.2s linear;
}

.acc-handle:focus + .acc-panel * {
    opacity: 1;
}
