.block_filtered_course_list.block .list {
    padding: 10px 0 0;
}

.block_filtered_course_list.block .list li {
    background: url([[pix:moodle|i/course]]) no-repeat 0px 1px transparent;
    margin-left: 0;
    padding: 0 0 10px 20px;
}

.block_filtered_course_list .course-section {
    text-align: auto;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}
