.block_filtered_course_list.block .list {
    padding: 10px 0 0;
}

.block_filtered_course_list_list_item {
    background: url([[pix:moodle|i/course]]) no-repeat 0 1px transparent;
    margin-left: 0;
    padding: 0 0 10px 20px;
}

.block_filtered_course_list_list_item.fcl-category-link {
    background: url([[pix:moodle|i/folder]]) no-repeat 0 1px transparent;
}

.dir-rtl .block_filtered_course_list_list_item {
    background: url([[pix:moodle|i/course]]) no-repeat right 1px transparent;
    margin-right: 0;
    padding: 0 20px 10px 0;
}

.dir-rtl .block_filtered_course_list_list_item.fcl-category-link {
    background: url([[pix:moodle|i/folder]]) no-repeat right 1px transparent;
}

.jsenabled .block_filtered_course_list.block .list li {
    background-position: 10px 1px;
    padding: 0 0 10px 31px;
}

.dir-rtl.jsenabled .block_filtered_course_list.block .list li {
    background-position: calc(100% - 10px) 1px;
    padding: 0 31px 10px 0;
}

.block_filtered_course_list_footer {
    padding-top: 1rem;
}

.block_filtered_course_list .course-section {
    font-weight: bold;
    margin-top: 3px;
    padding-left: 1px;
    padding-right: 1em;
}

.dir-rtl .block_filtered_course_list .course-section {
    padding-right: 1px;
    padding-left: 1em;
}

.jsenabled .block_filtered_course_list .course-section {
    cursor: pointer;
    padding-left: 21px;
}

.dir-rtl.jsenabled .block_filtered_course_list .course-section {
    padding-right: 21px;
}

.jsenabled .block_filtered_course_list .course-section a {
    text-decoration: none;
}

.jsenabled .block_filtered_course_list .course-section + .collapsible.list {
    display: none;
}

.block_filtered_course_list .course-section.collapsed {
    background: url([[pix:t/collapsed]]) no-repeat 0 2px transparent;
}

.dir-rtl .block_filtered_course_list .course-section.collapsed {
    background: url([[pix:t/collapsed_rtl]]) no-repeat right 2px transparent;
}

.block_filtered_course_list .course-section.expanded + .collapsible.list {
    display: block;
}

.block_filtered_course_list .course-section.expanded {
    background: url([[pix:t/expanded]]) no-repeat 0 2px transparent;
}

.dir-rtl .block_filtered_course_list .course-section.expanded {
    background: url([[pix:t/expanded]]) no-repeat right 2px transparent;
}

#page-admin-setting-blocksettingfiltered_course_list #id_s_block_filtered_course_list_filters {
    font-family: monospace;
}
