{{!
   This file is part of Moodle - http://moodle.org/

   Moodle is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Moodle is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{=<% %>=}}
<ion-item-divider>
    <h2><% title %></h2>
</ion-item-divider>
<ion-card>
    <ion-list>
        <ion-item-group *ngFor="let rubric of CONTENT_OTHERDATA.rubrics">
            <ion-item-divider text-wrap (click)="toggle(rubric)" class="core-expandable">
                <core-icon *ngIf="!rubric.expanded" name="fa-caret-right" item-start></core-icon>
                <core-icon *ngIf="rubric.expanded" name="fa-caret-down" item-start></core-icon>
                {{ rubric.title }}
            </ion-item-divider>
            <div [hidden]="!rubric.expanded">
                <core-courses-course-list-item *ngFor="let course of rubric.courses" [course]="course"></core-courses-course-list-item>
            </div>
        </ion-item-group>
    </ion-list>
</ion-card>